# Aumentar límites de subida de archivos
php_value upload_max_filesize 20M
php_value post_max_size 20M
php_value max_execution_time 300
php_value max_input_time 300

# Permitir operaciones de archivos
php_flag file_uploads On

# Seguridad básica
Options -Indexes
<FilesMatch "^\.ht">
    Order allow,deny
    Deny from all
</FilesMatch>

# Comprimir archivos para mejorar el rendimiento
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/javascript application/json
</IfModule>

# Si accede directamente a archivos .php en la carpeta "uploads", denegar
<FilesMatch "\.php$">
    <If "%{REQUEST_URI} =~ m#^/uploads/.*#">
        Order allow,deny
        Deny from all
    </If>
</FilesMatch>

# Permitir métodos HTTP necesarios
<LimitExcept GET POST>
    Order deny,allow
    Deny from all
</LimitExcept>